/*nav*/
nav {
  width: 100%;
  height: 42px;
  margin: 0 auto; }
  nav a {
    color: black;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
    display: inline-block; }
    nav a:hover {
      text-decoration: underline; }
  nav .nav-f {
    padding-left: 32%; }

/*section*/
section {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px; }
  section .shop {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    color: #636363; }
    section .shop .goostop {
      padding-left: 20px;
      font-size: 18px;
      line-height: 80px; }
      section .shop .goostop span {
        margin-right: 20px; }
        section .shop .goostop span b {
          font-weight: 100;
          color: #b2b2b2; }
    section .shop h2 {
      font-weight: 100;
      font-size: 14px;
      margin: 0px 20px;
      line-height: 30px;
      color: #636363;
      border-bottom: 1px solid #eee; }
    section .shop .goodshead {
      padding-left: 20px;
      margin: 10px auto;
      background: white;
      height: 30px;
      border-bottom: 1px solid #c0c0c0; }
      section .shop .goodshead .goods {
        margin-left: 130px;
        margin-right: 220px;
        font-style: normal; }
      section .shop .goodshead .goodsprice {
        margin-right: 130px;
        font-style: normal; }
      section .shop .goodshead .goodsnum {
        margin-right: 135px;
        font-style: normal; }
      section .shop .goodshead .goodsmoney {
        font-style: normal;
        margin-right: 120px; }
      section .shop .goodshead #btnUnCheckId {
        width: 50px;
        height: 30px;
        color: white;
        background: black;
        border: none; }
    section .shop ul li {
      list-style: none;
      position: relative;
      border-bottom: 1px solid #c0c0c0; }
      section .shop ul li img {
        width: 81px;
        height: 100px; }
      section .shop ul li .input1 {
        position: absolute;
        left: 0;
        top: 45px; }
      section .shop ul li .b1 {
        position: absolute;
        left: 165px;
        top: 35px; }
      section .shop ul li span {
        position: absolute;
        left: 585px;
        top: 35px; }
        section .shop ul li span input {
          width: 20px;
          height: 20px; }
        section .shop ul li span #acount {
          text-align: center; }
      section .shop ul li .b2 {
        position: absolute;
        left: 435px;
        top: 35px; }
      section .shop ul li .b3 {
        position: absolute;
        left: 950px;
        top: 35px;
        font-weight: 100; }
        section .shop ul li .b3 i {
          font-style: normal;
          color: red; }
      section .shop ul li .b4 {
        position: absolute;
        left: 770px;
        top: 35px; }
